.title {
  background-color: rgb(34, 155, 215);
  color: white ;
  text-align: center;
  padding: 20px;
}
#fiveDayContainer {
  color: white;
  padding: 20px;
  background-color: rgb(34, 155, 215);
  margin-right: 20px;
}
#imgIcon {
  height: 80px;
  weight: 80px;
}
#city-search {
  text-transform: capitalize;
}
#clear-all {
  padding-left: 20px;
  background-color: white;
} 
#search-section, #search-list {
  padding-left: 20px;
}